:root {
  --light: #fffffc;
  --dark: #202c59;
  --grey: #4c5b5c;
  --primary: #ff7f11;
  --alert: #ff1e2d;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  color: var(--dark);
  font-family: 'Nunito', sans-serif;

}

body {
  margin: 0;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}